<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>仪表盘 - FinalCMS Admin</title>
	<meta name="keywords" content="FinalCMS" />
	<meta name="description" content="FinalCMS后台管理首页" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="${ctx}/css/bootstrap.min.css" />
	<link rel="stylesheet" href="${ctx}/css/font-awesome.min.css" />
	<link rel="stylesheet" href="${ctx}/css/fc-fonts.css" />
	<link rel="stylesheet" href="${ctx}/css/fc.min.css" />
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="${ctx}/css/fc-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="${ctx}/css/fc-skins.min.css" />
	<link rel="stylesheet" href="${ctx}/css/fc-rtl.min.css" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="${ctx}/css/fc-ie.min.css" />
	<![endif]-->

	<!--[if lte IE 8]>
	<script src="${ctx}/js/html5shiv.js"></script>
	<script src="${ctx}/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="no-skin">

<?include("../inc/menu.html",{current:"dashboard"}){}?>

<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li><i class="ace-icon fa fa-home home-icon"></i> <a href="${ctx}/admin/account/dashboard">首页</a>
			</li>
			<li class="active">仪表盘</li>
		</ul>
		<!-- /.breadcrumb -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				仪表盘 <small><i class="ace-icon fa fa-angle-double-right"></i> 系统概况 &amp; 状态</small>
			</h1>
		</div>
		<!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="alert alert-block alert-success">
					<i class="ace-icon fa fa-check green"></i> 欢迎使用 <strong
						class="green"> FinalCMS
				</strong>, 最简单易用，易扩展的java信息发布系统.
				</div>

				<div class="row">
					<div class="col-sm-3 infobox-container">
						<div class="space-16"></div>
						<div class="infobox infobox-green">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-comments"></i>
							</div>
							<div class="infobox-data">
								<span class="infobox-data-number">32</span>
								<div class="infobox-content">篇文章</div>
							</div>
							<div class="stat stat-success">8%</div>
						</div>

						<div class="infobox infobox-blue">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-twitter"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number">11</span>
								<div class="infobox-content">条评论</div>
							</div>

							<div class="badge badge-success">
								+32% <i class="ace-icon fa fa-arrow-up"></i>
							</div>
						</div>

						<div class="infobox infobox-pink">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-shopping-cart"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number">8</span>
								<div class="infobox-content">待审核文章</div>
							</div>
							<div class="stat stat-important">4%</div>
						</div>

						<div class="infobox infobox-red">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-flask"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number">7</span>
								<div class="infobox-content">回收站</div>
							</div>
						</div>
					</div>

					<div class="col-sm-9">
						<div class="widget-box transparent" id="recent-box">
							<div class="widget-header">
								<h4 class="widget-title lighter smaller">
									<i class="ace-icon fa fa-rss orange"></i>RECENT
								</h4>

								<div class="widget-toolbar no-border">
									<ul class="nav nav-tabs" id="recent-tab">
										<li class="active">
											<a data-toggle="tab" href="#task-tab">最近发布文章</a></li>
										<li><a data-toggle="tab" href="#comment-tab">最新评论</a></li>
										<li><a data-toggle="tab" href="#member-tab">最近注册用户</a></li>
									</ul>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main padding-4">
									<div class="tab-content padding-8">
										<div id="task-tab" class="tab-pane active">
											<h4 class="smaller lighter green">
												<i class="ace-icon fa fa-list"></i> Sortable Lists
											</h4>

											<!-- #section:pages/仪表盘.tasks -->
											<ul id="tasks" class="item-list">

												<li class="item-red clearfix"><label class="inline">
													<input type="checkbox" class="ace" /> <span class="lbl">
													Fixing bugs</span>
												</label> <!-- #section:custom/extra.action-buttons -->
													<div class="pull-right action-buttons">
														<a href="#" class="blue"> <i
																class="ace-icon fa fa-pencil bigger-130"></i>
														</a> <span class="vbar"></span> <a href="#" class="red">
														<i class="ace-icon fa fa-trash-o bigger-130"></i>
													</a> <span class="vbar"></span> <a href="#" class="green">
														<i class="ace-icon fa fa-flag bigger-130"></i>
													</a>
													</div> <!-- /section:custom/extra.action-buttons --></li>

												<li class="item-default clearfix"><label
														class="inline"> <input type="checkbox"
																			   class="ace" /> <span class="lbl"> Adding new
													features</span>
												</label> <!-- #section:elements.dropdown.hover -->
													<div
															class="inline pull-right position-relative dropdown-hover">
														<button class="btn btn-minier bigger btn-primary">
															<i class="ace-icon fa fa-cog icon-only bigger-120"></i>
														</button>

														<ul
																class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close dropdown-menu-right">
															<li><a href="#" class="tooltip-success"
																   data-rel="tooltip" title="Mark&nbsp;as&nbsp;done">
															<span class="green"> <i
																	class="ace-icon fa fa-check bigger-110"></i>
														</span>
															</a></li>

															<li><a href="#" class="tooltip-error"
																   data-rel="tooltip" title="Delete"> <span
																	class="red"> <i
																	class="ace-icon fa fa-trash-o bigger-110"></i>
														</span>
															</a></li>
														</ul>
													</div> <!-- /section:elements.dropdown.hover --></li>

												<li class="item-blue clearfix"><label class="inline">
													<input type="checkbox" class="ace" /> <span class="lbl">
													Upgrading scripts used in template</span>
												</label></li>

												<li class="item-grey clearfix"><label class="inline">
													<input type="checkbox" class="ace" /> <span class="lbl">
													Adding new skins</span>
												</label></li>

												<li class="item-green clearfix"><label class="inline">
													<input type="checkbox" class="ace" /> <span class="lbl">
													Updating server software up</span>
												</label></li>

												<li class="item-pink clearfix"><label class="inline">
													<input type="checkbox" class="ace" /> <span class="lbl">
													Cleaning up</span>
												</label></li>
											</ul>

											<!-- /section:pages/仪表盘.tasks -->
										</div>

										<div id="member-tab" class="tab-pane">
											<div class="clearfix">
												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Bob Doe's avatar"
															 src="${ctx}/avatars/user.jpg" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Bob Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i>
															<span class="green">20 min</span>
														</div>

														<div>
															<span class="label label-warning label-sm">pending</span>
															<div class="inline position-relative">
																<button class="btn btn-minier btn-yellow btn-no-border dropdown-toggle"
																		data-toggle="dropdown" data-position="auto">
																	<i class="ace-icon fa fa-angle-down icon-only bigger-120"></i>
																</button>

																<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	<li><a href="#" class="tooltip-success"
																		   data-rel="tooltip" title="Approve"> <span
																			class="green"> <i
																			class="ace-icon fa fa-check bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-warning"
																		   data-rel="tooltip" title="Reject"> <span
																			class="orange"> <i
																			class="ace-icon fa fa-times bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-error"
																		   data-rel="tooltip" title="Delete"> <span
																			class="red"> <i
																			class="ace-icon fa fa-trash-o bigger-110"></i>
																</span>
																	</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Joe Doe's avatar"
															 src="${ctx}/avatars/avatar2.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Joe Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">1 hour</span>
														</div>

														<div>
															<span class="label label-warning label-sm">pending</span>

															<div class="inline position-relative">
																<button
																		class="btn btn-minier btn-yellow btn-no-border dropdown-toggle"
																		data-toggle="dropdown" data-position="auto">
																	<i
																			class="ace-icon fa fa-angle-down icon-only bigger-120"></i>
																</button>

																<ul
																		class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	<li><a href="#" class="tooltip-success"
																		   data-rel="tooltip" title="Approve"> <span
																			class="green"> <i
																			class="ace-icon fa fa-check bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-warning"
																		   data-rel="tooltip" title="Reject"> <span
																			class="orange"> <i
																			class="ace-icon fa fa-times bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-error"
																		   data-rel="tooltip" title="Delete"> <span
																			class="red"> <i
																			class="ace-icon fa fa-trash-o bigger-110"></i>
																</span>
																	</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Jim Doe's avatar"
															 src="${ctx}/avatars/avatar.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Jim Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">2 hour</span>
														</div>

														<div>
															<span class="label label-warning label-sm">pending</span>

															<div class="inline position-relative">
																<button
																		class="btn btn-minier btn-yellow btn-no-border dropdown-toggle"
																		data-toggle="dropdown" data-position="auto">
																	<i
																			class="ace-icon fa fa-angle-down icon-only bigger-120"></i>
																</button>

																<ul
																		class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	<li><a href="#" class="tooltip-success"
																		   data-rel="tooltip" title="Approve"> <span
																			class="green"> <i
																			class="ace-icon fa fa-check bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-warning"
																		   data-rel="tooltip" title="Reject"> <span
																			class="orange"> <i
																			class="ace-icon fa fa-times bigger-110"></i>
																</span>
																	</a></li>

																	<li><a href="#" class="tooltip-error"
																		   data-rel="tooltip" title="Delete"> <span
																			class="red"> <i
																			class="ace-icon fa fa-trash-o bigger-110"></i>
																</span>
																	</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Alex Doe's avatar"
															 src="${ctx}/avatars/avatar5.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Alex Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">3 hour</span>
														</div>

														<div>
															<span class="label label-danger label-sm">blocked</span>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Bob Doe's avatar"
															 src="${ctx}/avatars/avatar2.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Bob Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">6 hour</span>
														</div>

														<div>
															<span class="label label-success label-sm arrowed-in">approved</span>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Susan's avatar"
															 src="${ctx}/avatars/avatar3.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Susan</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">yesterday</span>
														</div>

														<div>
															<span class="label label-success label-sm arrowed-in">approved</span>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Phil Doe's avatar"
															 src="${ctx}/avatars/avatar4.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Phil Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">2 days ago</span>
														</div>

														<div>
													<span
															class="label label-info label-sm arrowed-in arrowed-in-right">online</span>
														</div>
													</div>
												</div>

												<div class="itemdiv memberdiv">
													<div class="user">
														<img alt="Alexa Doe's avatar"
															 src="${ctx}/avatars/avatar1.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Alexa Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">3 days ago</span>
														</div>

														<div>
															<span class="label label-success label-sm arrowed-in">approved</span>
														</div>
													</div>
												</div>
											</div>

											<div class="space-4"></div>

											<div class="center">
												<i class="ace-icon fa fa-users fa-2x green middle"></i>

												&nbsp; <a href="#" class="btn btn-sm btn-white btn-info">
												See all members &nbsp; <i
													class="ace-icon fa fa-arrow-right"></i>
											</a>
											</div>

											<div class="hr hr-double hr8"></div>

											<!-- /section:pages/仪表盘.members -->
										</div>
										<!-- /.#member-tab -->

										<div id="comment-tab" class="tab-pane">
											<div class="comments">
												<div class="itemdiv commentdiv">
													<div class="user">
														<img alt="Bob Doe's Avatar"
															 src="${ctx}/avatars/avatar.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Bob Doe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="green">6 min</span>
														</div>

														<div class="text">
															<i class="ace-icon fa fa-quote-left"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit. Quisque
															commodo massa sed ipsum porttitor facilisis &hellip;
														</div>
													</div>

													<div class="tools">
														<div class="inline position-relative">
															<button
																	class="btn btn-minier bigger btn-yellow dropdown-toggle"
																	data-toggle="dropdown">
																<i
																		class="ace-icon fa fa-angle-down icon-only bigger-120"></i>
															</button>

															<ul
																	class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																<li><a href="#" class="tooltip-success"
																	   data-rel="tooltip" title="Approve"> <span
																		class="green"> <i
																		class="ace-icon fa fa-check bigger-110"></i>
															</span>
																</a></li>

																<li><a href="#" class="tooltip-warning"
																	   data-rel="tooltip" title="Reject"> <span
																		class="orange"> <i
																		class="ace-icon fa fa-times bigger-110"></i>
															</span>
																</a></li>

																<li><a href="#" class="tooltip-error"
																	   data-rel="tooltip" title="Delete"> <span
																		class="red"> <i
																		class="ace-icon fa fa-trash-o bigger-110"></i>
															</span>
																</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="itemdiv commentdiv">
													<div class="user">
														<img alt="Jennifer's Avatar"
															 src="${ctx}/avatars/avatar1.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Jennifer</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="blue">15 min</span>
														</div>

														<div class="text">
															<i class="ace-icon fa fa-quote-left"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit. Quisque
															commodo massa sed ipsum porttitor facilisis &hellip;
														</div>
													</div>

													<div class="tools">
														<div class="action-buttons bigger-125">
															<a href="#"> <i class="ace-icon fa fa-pencil blue"></i>
															</a> <a href="#"> <i class="ace-icon fa fa-trash-o red"></i>
														</a>
														</div>
													</div>
												</div>

												<div class="itemdiv commentdiv">
													<div class="user">
														<img alt="Joe's Avatar" src="${ctx}/avatars/avatar2.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Joe</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="orange">22 min</span>
														</div>

														<div class="text">
															<i class="ace-icon fa fa-quote-left"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit. Quisque
															commodo massa sed ipsum porttitor facilisis &hellip;
														</div>
													</div>

													<div class="tools">
														<div class="action-buttons bigger-125">
															<a href="#"> <i class="ace-icon fa fa-pencil blue"></i>
															</a> <a href="#"> <i class="ace-icon fa fa-trash-o red"></i>
														</a>
														</div>
													</div>
												</div>

												<div class="itemdiv commentdiv">
													<div class="user">
														<img alt="Rita's Avatar"
															 src="${ctx}/avatars/avatar3.png" />
													</div>

													<div class="body">
														<div class="name">
															<a href="#">Rita</a>
														</div>

														<div class="time">
															<i class="ace-icon fa fa-clock-o"></i> <span
																class="red">50 min</span>
														</div>

														<div class="text">
															<i class="ace-icon fa fa-quote-left"></i> Lorem ipsum
															dolor sit amet, consectetur adipiscing elit. Quisque
															commodo massa sed ipsum porttitor facilisis &hellip;
														</div>
													</div>

													<div class="tools">
														<div class="action-buttons bigger-125">
															<a href="#"> <i class="ace-icon fa fa-pencil blue"></i>
															</a> <a href="#"> <i class="ace-icon fa fa-trash-o red"></i>
														</a>
														</div>
													</div>
												</div>
											</div>

											<div class="hr hr8"></div>

											<div class="center">
												<i class="ace-icon fa fa-comments-o fa-2x green middle"></i>

												&nbsp; <a href="#" class="btn btn-sm btn-white btn-info">
												See all comments &nbsp; <i
													class="ace-icon fa fa-arrow-right"></i>
											</a>
											</div>
											<div class="hr hr-double hr8"></div>
										</div>
									</div>
								</div>
								<!-- /.widget-main -->
							</div>
							<!-- /.widget-body -->
						</div>
						<!-- /.widget-box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-content -->

	<?include("../inc/footer.html"){}?>
</div>

<!--[if !IE]> -->
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctx}/js/jquery2.1.0.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctx}/js/jquery1.11.0.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script type='text/javascript' src='${ctx}/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script type="text/javascript" src="${ctx}/js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="${ctx}/js/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="${ctx}/js/fc-extra.min.js"></script>
<script type="text/javascript" src="${ctx}/js/fc-elements.min.js"></script>
<script type="text/javascript" src="${ctx}/js/fc.min.js"></script>
</body>
</html>
