<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>禁止执行访问</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/template/error/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<h1><a href="/">吼吼， 出问题了。。。</a></h1>
					</div>
				</div>
			<div class="content">
				<img src="/template/error/images/error403.png" title="error" />
				<p><span><label>O</label>hh....</span>权限不足， 禁止访问!</p>
				<a href="javascript:history.back();">返回上一页</a> | <a href="/">返回首页</a>
   			</div>
		</div>
	</body>
</html>